.div-NombreEmpresa {
    border: 3px solid #e69138;
    display: inline-block;
    margin-left: 532px;
    margin-top: 200px;
    height: 300px;
    width: 429px;
    background-color: aliceblue;
    border-radius: 10px;
}

.div-NombreEmpresa>div {
    text-align: center;
    margin-top: 250px;
}

#logoEmpresa {
    width: 370px;
    text-align: center;
    padding-top: 100px;
}

.div-Form {
    border: 3px solid #e69138;
    display: inline-block;
    text-align: center;
    margin-right: 490px;
    margin-top: 200px;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 10px;
}

.div-Form>div {
    padding-right: 20px;
    margin-right: 10px;
}

#sct-form {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    padding: 60px;
    font-size: 20px;
    color: black;
}

.div-Form>div>label {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

#btn-modificar {
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #e69138;
    color: white;
}

.error-input {
    border: 2px solid rgb(228, 20, 20);
}

@media only screen and (max-width: 400px) {
    .div-NombreEmpresa>#inicioSesion {
        margin-right: 20px;
    }
}