#tbl-resultados {
    margin-left: 40px;
    margin-top: 20px;
}

#tbl-resultados>thead>tr>th {
    padding-right: 100px;
    text-align: center;
}

#tbl-resultados>thead>tr {
    width: 10%;
    text-align: center;
    padding-top: 20px;
}

#filtro {
    margin-left: 40px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: black;
}

#atras {
    margin-top: 500px;
    margin-left: 40px;
    margin-right: 40px;
}

table {
    border: rgb(102, 102, 102) 4px solid;
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 70px;
    margin-top: 40px;
}

td {
    padding-top: 20px;
    padding-left: 40px;
}

th {
    padding-top: 20px;
    padding-left: 130px;
}

thead {
    background-color: #E69138;
    border-bottom: solid 5px rgb(102, 102, 102);
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #0CC49F;
    color: white;
}