.sct-contenedor-principal {
    padding-top: 100px;
}

body {
    background-color: #111010;
}

h1 {
    color: rgb(47, 154, 255);
    font-weight: bold;
    text-align: center;
    font-size: 100%;
    padding-top: 20px;
}

.slideshow-container {
    position: relative;
    padding-top: 8px;
    height: 320px;
    width: 100%;
    background-position: center;
}

.mySlides {
    height: 500px;
    width: 1900px;
    background-position: center;
}

#mySlides-face {
    height: 450px;
    width: 1350px;
    background-position: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: 0;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: 0;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: #56e7c8e7;
}

.text {
    color: gray;
    font-size: 25px;
    padding-bottom: 15px;
    position: absolute;
    padding-left: 5px;
    bottom: 0px;
    width: 20%;
    text-align: center;
    background-color: transparent;
    background-position: center;
    font-weight: bold;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #56e7c8e7;
    border-radius: 50%;
    transition: background-color .7s ease
}

#sct-comentarios {
    position: relative;
    padding-top: 130px;
}

#sct-comentarios>h1 {
    color: rgb(47, 154, 255);
    font-size: 15px;
}

.caja {
    border: 1px solid #56e7c8e7;
    box-sizing: border-box;
    display: inline-block;
    width: 255px;
    margin: 2px;
    height: 280px;
    margin-top: 30px;
    vertical-align: top;
    text-align: center;
    background-color: black;
    margin-left: 5px;
    border-radius: 50px;
}

.imagen {
    padding-top: 15px;
    width: 220px;
    height: 220px;
    border-radius: 50px;
}

.sct-comentariosR {
    padding-top: 10px;
    background-color: rgb(31, 105, 145);
}

p {
    text-align: center;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    padding: auto;
}

.sct-calificaciones {
    padding-top: 50px;
}

.comentario {
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
    width: 20%;
    height: 200px;
    margin: 0.5%;
    margin-top: 5px;
    padding: 1em;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    background-position: center;
    margin: 0px 0px 50px 130px;
}

.starContainerCalificacion input {
    height: 600px;
}

.fa-paw:before {
    content: "\f1b0";
    color: rgb(47, 154, 255);
}

footer {
    background-color: rgb(31, 105, 145);
    background-blend-mode: screen, overlay;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1500px;
    height: 100px;
}