main {
    background-image: url('../proyectopipasimgs/pexels-lumn-406014.jpg');
    background-size: cover;
    background-position: center;
    transform: none;
    height: 1000px;
}

.div-NombreEmpresa {
    border: 3px solid #e69138;
    display: inline-block;
    margin-left: 532px;
    height: 800px;
    width: 429px;
    background-color: aliceblue;
    border-radius: 10px;
}

.div-NombreEmpresa>div {
    text-align: center;
    margin-top: 300px;
}

#div-datosUsuario2 {
    margin-top: 30px;
    float: right;
}

#div-datosUsuario {
    width: 50%;
    float: left;
    margin-top: 30px;
}

#div-datosUsuario>div>label {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

#div-datosUsuario2>div>label {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.form-desc,
.Slct-Form {
    width: 178px;
    height: 24px;
    display: inline-block;
    margin-bottom: 15px;
}

#logoEmpresa {
    width: 400px;
    text-align: center;
    padding-top: 200px;
}

.div-Form {
    border: 3px solid #e69138;
    display: inline-block;
    text-align: center;
    margin-right: 490px;
    width: 800px;
    height: 800px;
    background-color: aliceblue;
    border-radius: 10px;
}

.div-Form>div {
    padding-right: 10px;
    padding-top: 5px;
}

.div-Form>h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

#sct-form {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.div-Form>div>label {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.div-Form>div>input {
    width: 150px;
    display: inline-block;
    margin-bottom: 5px;
}

#ubicationForm {
    display: inline-block;
    text-align: center;
    margin-right: 490px;
    width: 690px;
    height: 800px;
}

.map-container {
    display: inline;
    float: left;
    min-width: 110px;
    padding-bottom: 20px;
}

.map-container {
    width: 90%;
    margin-top: 20px;
    margin-left: 40px;
}

#map {
    min-width: 200px;
    width: 60%;
    height: 100px;
    float: right;
}

.div-Form #terminos {
    padding-top: 5px;
    padding-right: 200px;
    height: 60px;
}

#terminos {
    float: left;
    padding-top: 15px;
    padding-left: 124px
}

#contenedor-imagen {
    width: 50px;
    height: 50px;
    float: right;
}

#img-foto {
    max-width: 150px;
    max-height: 150px;
    margin-top: 60px;
}

#btn-foto {
    float: right;
    margin-top: 20px;
}

#div-localizacion {
    float: right;
    margin-top: 30px;
    margin-right: 70px;
}

#botonenviar {
    margin-left: 500px;
}

#btn-Mascota {
    background-image: Url('../proyectoPipasImgs/peppy_doggo_logo.png');
    height: 100px;
    width: 100px;
    background-size: contain;
    display: flex;
    float: right;
    margin-left: 500px;
    position: absolute;
    top: 200px;
    right: 470px;
    border: none;
    background-color: aliceblue;
}

#regMasc {
    color: #E69138;
    font-size: 20px;
    margin-left: 430px;
    font-weight: bold;
}

.error-input {
    border: 2px solid rgb(228, 20, 20);
}

@media only screen and (max-width: 1400px) {
    .div-NombreEmpresa>#inicioSesion {
        margin-right: 20px;
    }
}